body {
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: red;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header {
  background-color: darkred;
  font-size: 2em;
  color: black;
  font-weight: bold;
  padding: 10px;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  color: black;
}

nav {
  max-width: 50%;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  background-color: black;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 10px;
  transition: 0.5s;
  height: 3em;
}

nav ul li:hover {
  border-color: darkred;
  background-color: darkred;
  transition: 0.75s;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-decoration: none;
}

nav ul li:hover a {
  color: red;
}

nav ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

nav ul li div.active {
  background-color: darkred;
}

.form {
  box-sizing: border-box;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}

.form .element {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form .element input {
  height: 2em;
  border-radius: 5px;
  border: 1px solid red;
  background-color: black;
  color: red;
  padding: 5px;
}

.button {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid red;
  color: red;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  height: 3em;
}

.button:hover {
  background-color: darkred;
}

.button.active {
  background-color: darkred;
}

.weatherforecast {
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
}

.weatherforecast th,
.weatherforecast td {
  border: 1px solid darkred;
  padding: 5px;
}

.weatherforecast tr td:first-child {
  text-align: left;
}

.weatherforecast .label {
  display: none;
}

@media (max-width: 800px) {

  .weatherforecast tr:first-child,
  .weatherforecast th {
    display: none;
  }

  .weatherforecast tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid darkred;
    padding: 15px;
    border-radius: 10px;
  }

  .weatherforecast td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    width: 100%;
  }

  .weatherforecast .label {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}
